/* Mark Birchall nology Challenge ----------*/

/* remove browser defaults -----------------*/
body, h1, h2, li, ul, a {
    padding: 0;
    margin: 0;
    color: #4b4853;
    font-family: 'Abel', 'sans serif';
    box-sizing: border-box;
}

p {
    padding: 0 1rem 0 1rem;
    font-family: 'Abel', 'sans serif';
}

::selection {
    color: #fff;
    background: #e17f18;
}

/* define grid area names ------------------*/
.header     {grid-area: head;}
.nav        {grid-area: navi;}
.contact    {grid-area: cont;}
.main       {grid-area: main;}
.aside      {grid-area: asid;}
.footer     {grid-area: foot;}

#container {
    max-width: 800px;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0rem 0rem 4rem #ddd;
    background-image: linear-gradient(#fc9, #fff, #fff);

}

.header {
    display: flex;
    align-items: top;
}

.logo {
    margin: 0;
    padding: 0;
    fill: rgba(0,0,0,0.05);
    transition-property: fill;
    transition-duration: .5s;
    transform: scale(0.8,0.8);
}

.logo:hover {
    fill: #e17f18;
    stroke: #fff;
    stroke-width: 0.25rem;
}

h1 {
    position: relative;
    display: inline-block;
    margin: 0.5rem 0 0 0;
    font-size: 2rem;
    font-weight: 200;
}

.topnav {
    margin: 0 1em;
    background-color: #e17f18;
    display: flex;
    justify-content: space-between; 

}

.topnav li{
    display: inline;
    padding: 0rem 1rem 0 1rem;
}

.topnav li a{
    text-transform: uppercase;
}


a {
    text-decoration: none;
    color: #000;
}

li a.current {
    color: #fff;
}

p a:hover, li a:hover {
    color: #fff;
    background-color: #e17f18;
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

.main {
    min-height: 80vh;
}

.profile {
    margin: 1rem 1rem;
    height: 128px;
    background-color: #fc9;
}

.blog {
    background-image: url("../img/desk.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}
    
.thumbnails {
    display: flex;
    justify-content: space-between; 
}

.thumbnails li img{
    width: 128px;
    height: 128px;
    margin: 1rem 1rem 0 1rem;
    box-sizing: border-box;
}

.thumbnails li {
    display: inline;
}

.overlay {
    position: relative;
    top: -80px;
    left: 80px;
    right: 0;
    height: 0;
    width: 0;
    opacity: 0;
    //transition: 0.3s;
}

.thumbnails li:hover img, .faded {
    opacity: 0.25;
}

.thumbnails li:hover .overlay, li div.active {
    opacity: 1;
}

.overlay .text {
    color: #4b4853;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.overlay .text .num {
    margin-top: 0.25rem;
    background-color: #4b4853;
    color: #fff;
    border-radius: 0.25rem;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#formstyle {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.65);
    overflow: auto;  
}

#popup {
    position: absolute;
    left: 50%;
    top: 22%;
    margin-left: -200px;
}

button#openform {
    // background-color: #e17f18;
}

form h2 {
    padding-top: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
}

#closeform {
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 16px;
    top: 16px;
    cursor: pointer;
}


#contactform {
    max-width: 300px;
    min-width: 250px;
    padding: 10px 50px;
    border: 4px solid #4b4853;
    border-radius: 10px;
    background-color: #fff
}

input[type=text] {
    width: 82%;
    padding: 0.5rem 1.5rem;
    margin-top: 1.5rem;
    border: 1px solid #4b4853;
}

textarea {
    width: 82%;
    height: 8em;
    resize: none;
    margin: 1.5rem 0;
    padding: 0.75rem 1.5rem;
    border: 1px solid #4b4853;
}

#submit {
    width: 50%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 1rem auto;
    display: block;
    background-color: #e17f18;
    color:#fff;
    padding: 0.5rem 0;
    cursor: pointer;
    border-radius: 5px
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin: 0;
}

.footer p {
    margin: 0 0.25rem;
}

/* end of general rules --------------------*/




/* mobile specific rules -------------------*/
@media screen and (max-width: 719px){
    #container{        

        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
        "head head head head"
        "navi navi navi navi"
        "cont cont cont cont"
        "main main main main"
        "foot foot foot foot"
        ;
    }

    .contact {
        background-image: linear-gradient(#fc9, #fff);
    }

   
    aside{
        display: none;
    }

    .contact > p:first-child {
        display: none;
    }

    .topnav {
        justify-content: flex-start;
        margin: 0;
    }

    .thumbnails {
        justify-content: flex-start; 
    }

    .main {
        background-color: #fff;
    } 
}
/* end of mobile specific rules ------------*/


/* desktop specific rules ------------------*/
@media screen and (min-width: 720px){
    #container{
 
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
        "head head head"
        "cont navi asid"
        "cont main asid"
        "cont main asid"
        "foot foot foot"
        ;
    }


}

/* end of desktop specific rules -----------*/





