/* Mark Birchall nology Challenge ----------*/

/* remove browser defaults -----------------*/
body, h1, h2, li, ul, a {
    padding: 0;
    margin: 0;
    color: #4b4853;
    font-family: 'Abel', 'sans serif';
    box-sizing: border-box;
}

p {
    padding: 0 1rem 0 1rem;
    font-family: 'Abel', 'sans serif';
}

::selection {
    color: #fff;
    background: #e17f18;
}

/* define grid area names ------------------*/
.header     {grid-area: head;}
.nav        {grid-area: navi;}
.contact    {grid-area: cont;}
.main       {grid-area: main;}
.info       {grid-area: info;}
.aside      {grid-area: asid;}
.footer     {grid-area: foot;}

#container {
    max-width: 800px;
    min-width: 199px;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0rem 0rem 4rem #ddd;
    background-image: linear-gradient(#fc9, #fff, #fff);

}


.header {
    display: flex;
    align-items: top;
}

.logo {
    margin: 0;
    padding: 0;
    fill: rgba(0,0,0,0.05);
    transition-property: fill;
    transition-duration: .5s;
    transform: scale(0.8,0.8);
}

.logo:hover {
    fill: #e17f18;
    stroke: #fff;
    stroke-width: 0.25rem;
}

h1 {
    position: relative;
    display: inline-block;
    margin: 0.5rem 0 0 0;
    font-size: 2rem;
    font-weight: 200;
}

.topnav {
    padding: 0 4rem;
    margin: 0 1em;
    background-color: #e17f18;
}

.topnav li{
    display: inline;
    padding: 0 1rem;
}

.topnav li a{
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #000;
}

li a.current {
    color: #fff;
}

p a:hover, li a:hover {
    color: #fff;
    background-color: #e17f18;
}

.profile img.wide {
    width: 28rem;
    height: 8rem;
    margin: 1rem 1rem 0 1rem;
}

.profile img.thum {
    width: 8rem;    
    height: 8rem;
    margin: 1rem 1rem 0 1rem;
}


.thumbnails li img{
    width: 8rem;
    height: 8rem;
    margin: 1rem 1rem 0 1rem;

}

.thumbnails li img.faded{
    filter: grayscale(100%);
    opacity: 0.25;
}

.thumbnails li img:hover{
    box-shadow: 0.1rem 0.1rem 0.4rem rgba(0,0,0,0.75);
    filter: none;
    opacity: 1;
    position: relative;
    top: -0.2rem;
    left: -0.2rem;
}


.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px dotted #4b4853;
    margin: 0;
}

.footer p {
    margin: 0 0.25rem;
}

/* end of general rules --------------------*/




/* mobile specific rules -------------------*/
@media screen and (max-width: 720px){
    #container{        

        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;
        grid-template-rows: repeat(5,auto);
        grid-gap: 0;
        grid-template-areas: 
        "head head head head"
        "navi navi navi navi"
        "cont cont cont cont"
        "main info info info"
        "foot foot foot foot"
        ;
    }

    .contact {
        background-image: linear-gradient(#fc9, #fff);
    }

   
    aside{
        display: none;
    }

    .contact > p:first-child {
        display: none;
    }

    .topnav {
        margin: 0;
    }

    .topnav li {
        position: relative;
        right: 4rem;
    }

    .profile img.wide{
        display: none;
    }

    .info, .main {
        background-color: #fff;
    }


}

/* desktop specific rules ------------------*/
@media screen and (min-width: 720px){
    #container{
 
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
        "head head head"
        "cont navi asid"
        "cont main asid"
        "cont info asid"
        "foot foot foot"
        ;
    }

    .topnav {
        padding: 0;
        display: flex;
        justify-content: space-between; 
    }

    .topnav li{
        padding: 0rem 1rem 0 1rem;
    }

    .thumbnails {
        display: flex;
        justify-content: space-between; 
    }
    .thumbnails li {
        display: inline;
    }

    .profile img.thum {
        display: none;
    }

}







